pandas
numpy==1.26.4
matplotlib
seaborn
plotly
wordcloud
scikit-learn
imbalanced-learn
spacy
streamlit
joblib
scipy
sentence-transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl